:root {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
*{
  margin: 0;
  padding: 0;
}

.white{
  color: white;
}
.w100{
  width: 100%;
}
.h100{
  height: 100%;
}
.flex-c-c{
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-c-sa{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.flex-c-sb{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex-c-sa-d{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.flex-c-sb-d{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.flex1{
  flex: 1;
}
.point{
  cursor: pointer;
}
.bg{
  background-color: #00386d
}
.top-line{
  border-top: 1px solid #8c8c8cca;
}
.margin-left-10{
  margin-left: 10px;
}
.margin-right-10{
  margin-right: 10px;
}
.nohover:hover{
  background-color: transparent!important;
}